@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
    background-color: #dddddd;
}

#title-container {
    position: absolute;
    margin: 30px;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

.main-container {
    font-size: 20px;
    text-align: left;
	margin-left: 10%;
	margin-right: 10%;
    font-family: system-ui;
}

.sketch-picture {
    width: 400px;
	display: block;
    margin: 0 auto;
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}
