:root {
    /* Colour palette */
    --white-color: #f8fbf7; /* f7f7f7 */
    --orange-color: #f8a163;
    --pink-color: #fa75a8; /* #FFBFB7 */
    --green-color: #9cc087;
    --blue-color: #adb8eb;
    --purple-color: #c27ed5;
    --yellow-color: #f7d370;
    --blue2-color: #81b2b7;
    --pink2-color: #f28a8a;
    --dark-color: #272633;

    /* Carbon popup */
    --orange1: #563015;
    --orange2: #7F4D29;
    --orange3: #A7693C;
    --orange4: #D08550;
    --orange5: #F8A163;
    --orange6: #F8A86E;
    --orange7: #F8AF79;
    --orange8: #F8B684;
    --orange9: #935E38;

    /* Water popup */
    --darkBlue: #3D4878;

    --darkYellow: #634d11;

    /* Fonts */
    --font-title: "Yeseva One", serif;
    --font-text: "Noto Sans", sans-serif;;
}

body {
    color: var(--dark-color);
    font-family: var(--font-text);
}


