.svg-2 {
    font: 10px monospace;
    text-align: center;
    display: block;
    margin: auto;
}

#divi{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    background-color: #274754;
    margin: 10% auto;
    padding: 20px;
}

.tile-text{
    cursor: default;
    font-family: 'URW Bookman L', serif;
    font-size: 15px;
    fill: #274754; 
}

div.tooltip {
    position: absolute;
    padding: 10px;                
    font: 12px 'IBM Plex Mono', monospace;        
    background: color-mix(in srgb, #264653 95%, rgba(255, 255, 255, 0));
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
    border: 0px;        
    border-radius: 2px;            
    pointer-events: none; 
}

#scfp-legend{
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    margin-left: 20px;
    width: 250px;
    height: 100%;
    fill: white;
}