@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


body {
	background: color-mix(in srgb, var(--blue-color) 20%, transparent 80%);
	font-family: var(--font-text);
}

.water-title {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
    top: 0;
    left: 50%;
}

.water-title h1 {
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.water-title h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px var(--darkBlue);
}

.water-title h1:nth-child(2) {
	color: var(--darkBlue);
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.main-container {
	text-align: left;
	margin:12em auto 0;
	margin-left: 10%;
	margin-right: 10%;
}

.sketch-picture {
    width: 400px;
	display: block;
    margin: 0 auto;
}

.text {
	font-size: 20px;
	color: var(--darkBlue);
	text-align: justify;
}

#water-usage-comparison {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 90%;
    background-color: color-mix(in srgb, var(--blue-color) 50%, transparent 50%);
	border-radius: 10px; 
	text-align: center;
    justify-content: center;
	margin: auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-name {
    font-weight: bold;
    height: 50px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
	color: var(--darkBlue);
	font-family: var(--font-text);
}

.bottle-container {
    display: grid;
    justify-content: center;
    gap: 3px; /* Reduced spacing between bottles */
}

.bottle {
    width: 15px; /* Increased width by 1.5 times */
    height: 37.5px; /* Increased height by 1.5 times */
}

div.tooltip {
    position: absolute;
    padding: 10px;                
    font: 12px 'IBM Plex Mono', monospace;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
    border: 0px;        
    border-radius: 5px;            
    pointer-events: none;
    background: color-mix(in srgb, var(--blue-color) 95%, rgba(255, 255, 255, 0)); 
	color: var(--darkBlue);
	font-family: var(--font-text);
}

#bottleContainer {
	fill: var(--darkBlue);
}

#bottleContent {
	fill: var(--blue-color);
}